.admin-padding-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.admin-margin-top-1-5 {
  margin-top: 1.5rem;
}

.admin-margin-top-1 {
  margin-top: 1rem;
}

.admin-img-preview {
  max-width: 200px;
  max-height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.admin-text-accent {
  color: var(--color-accent);
}

.admin-margin-top-0-5 {
  margin-top: 0.5rem;
}

.admin-flex-1 {
  flex: 1;
}